<header class="site-header">

  <div class="wrapper">

    <a class="site-logo col-xs-12 col-lg-4" href="{{ site.baseurl }}/"/>
      <img src="{{ site.logo }}" class="logo">
    </a>

    <div class="site-title col-xs-12 col-lg-4">
      <h2>SaaS Masterclass</h2>
      <p>Quick SaaS Metric Definitions</p>
    </div>

    <div class="site-title col-xs-12 col-lg-4">
        <div id="menu-search">
          <input type="text" id="search-input" placeholder="Find a SaaS metric">
          <div id="results">
            <ul id="results-container"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
